#BUS_SORT

#N
@min_distance=0.1
arbitration_id\[.*\]
timestamp\[.*\]

#E
@min_distance=0.1
data_field\[.*\]
feature_valid
ready_for_next

#S
@min_distance=0.1
clk
rst_n

#W
@min_distance=0.1
prediction_valid
prediction_out
frame_id_out\[.*\]
